<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.CustomerMapper">

    <!--查询客户-->
    <select id="queryCustomerList" resultType="com.pojo.Customer">
        select id, company_name, man, phone, address
        from customer a
    </select>

    <!--新增客户-->
    <insert id="addCustomer">
        insert into customer(company_name, man, phone, address)
        values (#{customer.companyName,jdbcType=VARCHAR}, #{customer.man,jdbcType=VARCHAR},
                #{customer.phone,jdbcType=VARCHAR}, #{customer.address,jdbcType=VARCHAR});
    </insert>

    <!--查询单个客户-->
    <select id="getCustomerById" resultType="com.pojo.Customer" useCache="true">
        Select *
        from customer
        where id = #{id}
    </select>

    <!--修改客户-->
    <update id="updateCustomer">
        update customer
        <trim prefix="set" suffixOverrides="," suffix=" where id = #{customer.id}">
            <if test="customer.companyName != null and customer.companyName !=''">
                company_name = #{customer.companyName,jdbcType=VARCHAR},
            </if>
            <if test="customer.man != null and customer.man !=''">
                man=#{customer.man},
            </if>
            <if test="customer.phone != null and customer.phone !=''">
                phone=#{customer.phone},
            </if>
            <if test="customer.address != null and customer.address !=''">
                address = #{customer.address},
            </if>
        </trim>
    </update>

    <!--删除客户-->
    <delete id="removeCustomerById">
        delete
        from customer
        where id = #{id}
    </delete>

    <!--查询客户是否被拜访-->
    <select id="queryCustomerListByResult" resultType="com.pojo.Customer">
        Select yp.exec_time as year_plan_exec_time, s.id, company_name, man, phone, address
        from customer s
        left join month_plan a ON position(concat(s.id) in a.customer_ids) != 0
        left join year_plan yp on a.year_plan_id = yp.id
        <where>
            <if test="result != null and result != ''">
                and ${result} (Select 1 from result f where f.month_id = a.id and f.customer_id = s.id)
                and yp.id is not null
            </if>
            <if test="companyName != null and companyName != ''">
                and s.company_name like concat('%',#{companyName},'%')
            </if>
        </where>
    </select>

</mapper>