<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.CustomerMapper">

    <!--查询客户-->
    <select id="queryCustomerList" resultType="com.pojo.Customer">
        select id, company_name, man, phone, address
        from customer a
    </select>

    <!--新增客户-->
    <insert id="addCustomer">
        insert into customer(company_name, man, phone, address)
        values (#{customer.companyName,jdbcType=VARCHAR}, #{customer.man,jdbcType=VARCHAR},
                #{customer.phone,jdbcType=VARCHAR}, #{customer.address,jdbcType=VARCHAR});
    </insert>

    <!--查询单个客户-->
    <select id="getCustomerById" resultType="com.pojo.Customer" useCache="true">
        Select *
        from customer
        where id = #{id};
    </select>

    <!--修改客户-->
    <update id="updateCustomer">
        update customer
        <trim prefix="set" suffixOverrides="," suffix=" where id = #{customer.id}">
            <if test="customer.companyName != null and customer.companyName !=''">
                company_name = #{customer.companyName,jdbcType=VARCHAR},
            </if>
            <if test="customer.man != null and customer.man !=''">
                man=#{customer.man},
            </if>
            <if test="customer.phone != null and customer.phone !=''">
                phone=#{customer.phone},
            </if>
            <if test="customer.address != null and customer.address !=''">
                address = #{customer.address},
            </if>
            <if test="customer.planFlag != null and customer.planFlag !=''">
                plan_flag=#{customer.planFlag},
            </if>
        </trim>
    </update>

    <!--删除客户-->
    <delete id="removeCustomerById">
        delete
        from customer
        where id = #{id}
    </delete>

    <!--查询客户是否被拜访-->
    <select id="queryCustomerListByResult" resultType="com.pojo.Customer">
        select id, company_name, man, phone, address, (Select COUNT(0) from result where a.id =
        result.customer_id) as result_count
        from customer a
        <where>
            <if test="result != null and result != ''">
                and ${result} (SELECT 1 from result s where a.id = s.customer_id)
            </if>
            <if test="companyName != null and companyName != ''">
                and company_name like concat('%',#{companyName},'%')
            </if>
        </where>
<!--TODO 改这个-->
        select * from month_plan a
        left join result
    </select>

</mapper>