<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.QuarterPlanMapper">

    <select id="queryPlanList" resultType="com.pojo.QuarterPlan">
        select yp.id,
        yp.exec_time,
        yp.overview,
        yp.target,
        year_plan_id,
        y.exec_time as year_plan_exec_time
        from quarter_plan yp
        left join year_plan y on yp.year_plan_id = y.id
        <where>
            <if test="yearPlanId != null and yearPlanId != ''">
                and year_plan_id = #{yearPlanId}
            </if>
        </where>
    </select>

    <!--新增年计划-->
    <insert id="addPlan">
        insert into quarter_plan (exec_time, overview, target, year_plan_id)
        VALUES ( #{plan.execTime,jdbcType=VARCHAR}
               , #{plan.overview,jdbcType=VARCHAR}
               , #{plan.target,jdbcType=VARCHAR}
               , #{plan.yearPlanId,jdbcType=INTEGER});
    </insert>

    <!--查询单个年计划-->
    <select id="getPlanById" resultType="com.pojo.QuarterPlan">
        select yp.id,
               yp.exec_time,
               yp.overview,
               yp.target,
               year_plan_id,
               y.exec_time as year_plan_exec_time
        from quarter_plan yp
                 left join year_plan y on yp.year_plan_id = y.id
        where yp.id = #{id}
    </select>


    <!--修改计划-->
    <update id="updatePlan">
        update quarter_plan
        <trim prefix="set" suffixOverrides="," suffix=" where id = #{plan.id,jdbcType=INTEGER}">
            <if test="plan.execTime != null and plan.execTime !=''">
                exec_time=#{plan.execTime,jdbcType=VARCHAR},
            </if>
            <if test="plan.overview != null and plan.overview !=''">
                overview=#{plan.overview,jdbcType=VARCHAR},
            </if>
            <if test="plan.target != null and plan.target !=''">
                target=#{plan.target,jdbcType=VARCHAR},
            </if>
            <if test="plan.yearPlanId != null and plan.yearPlanId !=''">
                `year_plan_id`=#{plan.yearPlanId,jdbcType=INTEGER},
            </if>
        </trim>
        ;
    </update>

    <!--删除计划-->
    <delete id="removePlanById">
        delete
        from quarter_plan
        where id = #{id}
    </delete>


</mapper>