<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.YearPlanMapper">

    <!--查询所有planVOMap-->
    <resultMap id="PlanVOMap" type="com.vo.PlanVO">
        <association property="plan" javaType="com.pojo.Plan">
            <id column="planId" property="id"/>
            <result property="companyName" column="planCompanyName"/>
            <result property="execTime" column="exec_time"/>
            <result property="phone" column="planPhone"/>
            <result property="address" column="planAddress"/>
            <result property="type" column="type"/>
            <result property="rank" column="rank"/>
            <result property="status" column="status"/>
            <result property="customerId" column="customer_id"/>
            <result property="userId" column="user_id"/>
        </association>
        <association property="customer" javaType="com.pojo.Customer">
            <id column="customerId" property="id"/>
            <result property="companyName" column="customerCompanyName"/>
            <result property="man" column="man"/>
            <result property="phone" column="customerPhone"/>
            <result property="address" column="customerAddress"/>
            <result property="planFlag" column="plan_flag"/>
        </association>
        <association property="user" javaType="com.pojo.User">
            <id column="userId" property="id"/>
            <result property="name" column="name"/>
            <result property="password" column="password"/>
            <result property="phone" column="userPhone"/>
            <result property="roleId" column="role_id"/>
        </association>
    </resultMap>


    <!--查询计划-->
    <!--    <select id="queryPlanList" resultMap="PlanVOMap">-->
    <!--        select a.id as planId, a.company_name as planCompanyName, exec_time , a.phone as planPhone, a.address as-->
    <!--        planAddress, type, `rank`, status, customer_id, user_id,-->
    <!--        s.id as customerId, s.company_name as customerCompanyName, man, s.phone as customerPhone, s.address as-->
    <!--        customerAddress, plan_flag,-->
    <!--        d.id, name, password, d.phone as userPhone, role_id-->
    <!--        from year_plan as a-->
    <!--        inner join `customer` s ON a.customer_id = s.id-->
    <!--        left join `user` d ON a.user_id = d.id-->
    <!--        <where>-->
    <!--            <if test="type != null and type != ''">-->
    <!--                and type = #{type, jdbcType=INTEGER}-->
    <!--            </if>-->
    <!--            <if test="status != null">-->
    <!--                and `status` = #{status}-->
    <!--            </if>-->
    <!--            <if test="companyName != null and companyName != ''">-->
    <!--                and a.company_name like concat('%', #{companyName, jdbcType=VARCHAR},'%')-->
    <!--            </if>-->
    <!--            <if test="execTime != null and execTime != ''">-->
    <!--                and exec_time like concat('%', #{execTime, jdbcType=VARCHAR},'%')-->
    <!--            </if>-->
    <!--        </where>-->
    <!--        order by `rank`-->
    <!--    </select>-->

    <select id="queryPlanList" resultType="com.pojo.YearPlan">
        select yp.id,
               exec_time,
               overview,
               situation,
               target,
               first_user_id,
               a.name as first_user_name,
               first_idea,
               second_user_id,
               s.name as second_user_name,
               second_idea,
               apply_user_id,
               d.name as apply_user_name,
               status
        from year_plan yp
                 left join user a ON a.id = first_user_id
                 left join user s ON s.id = second_user_id
                 left join user d ON d.id = apply_user_id
    </select>

    <!--新增年计划-->
    <insert id="addPlan">
        insert into year_plan(exec_time, overview, situation, target, first_user_id, first_idea, second_user_id,
                              second_idea, apply_user_id, status)
        VALUES ( #{plan.execTime,jdbcType=VARCHAR}
               , #{plan.overview,jdbcType=VARCHAR}
               , #{plan.situation,jdbcType=VARCHAR}
               , #{plan.target,jdbcType=VARCHAR}
               , #{plan.firstUserId,jdbcType=INTEGER}
               , #{plan.firstIdea,jdbcType=VARCHAR}
               , #{plan.secondUserId,jdbcType=INTEGER}
               , #{plan.secondIdea,jdbcType=VARCHAR}
               , #{plan.applyUserId,jdbcType=INTEGER}
               , #{plan.status,jdbcType=INTEGER});
    </insert>

    <!--查询单个年计划-->
    <select id="getPlanById" resultType="com.pojo.YearPlan">
        SELECT yp.id,
               exec_time,
               overview,
               situation,
               target,
               first_user_id,
               first_idea,
               second_user_id,
               second_idea,
               apply_user_id,
               a.name as first_user_name,
               s.name as second_user_name,
               d.name as apply_user_name,
               status
        from year_plan yp
                 left join user a ON a.id = first_user_id
                 left join user s ON s.id = second_user_id
                 left join user d ON d.id = apply_user_id
        where yp.id = #{id}
    </select>


    <!--修改计划-->
    <update id="updatePlan">
        update year_plan
        <trim prefix="set" suffixOverrides="," suffix=" where id = #{plan.id,jdbcType=INTEGER}">
            <if test="plan.execTime != null and plan.execTime !=''">
                exec_time=#{plan.execTime,jdbcType=VARCHAR},
            </if>
            <if test="plan.overview != null and plan.overview !=''">
                overview=#{plan.overview,jdbcType=VARCHAR},
            </if>
            <if test="plan.situation != null and plan.situation !=''">
                situation=#{plan.situation,jdbcType=VARCHAR},
            </if>
            <if test="plan.target != null and plan.target !=''">
                target=#{plan.target,jdbcType=VARCHAR},
            </if>
            <if test="plan.firstUserId != null and plan.firstUserId !=''">
                first_user_id=#{plan.firstUserId,jdbcType=INTEGER},
            </if>
            <if test="plan.firstIdea != null and plan.firstIdea !=''">
                first_idea=#{plan.firstIdea,jdbcType=VARCHAR},
            </if>
            <if test="plan.secondUserId != null and plan.secondUserId !=''">
                second_user_id=#{plan.secondUserId,jdbcType=INTEGER},
            </if>
            <if test="plan.secondIdea != null and plan.secondIdea !=''">
                second_idea=#{plan.secondIdea,jdbcType=VARCHAR},
            </if>
            <if test="plan.applyUserId != null and plan.applyUserId !=''">
                apply_user_id=#{plan.applyUserId,jdbcType=INTEGER},
            </if>
            <if test="plan.status != null and plan.status !=''">
                `status`=#{plan.status,jdbcType=INTEGER},
            </if>
        </trim>
        ;
    </update>

    <!--删除计划-->
    <delete id="removePlanById">
        delete
        from year_plan
        where id = #{id}
    </delete>


</mapper>